/* size of box chat */
@media only screen and (max-width: 34.9375em) {
    .film-category-container {
        --amountOfCol: 3;
    }
}

@media only screen and (min-width: 35em) and (max-width: 37.5em) {
    .film-category-container {
        --amountOfCol: 3;
    }
}

/* ẩn header */
/* @media only screen and (max-width: 37.5em) {
    
} */

@media only screen and (max-width: 46.25em) {
    .section {
        flex-wrap: wrap;
    }

    .aside {
        width: 100%;
    }

    /* ẩn header */
    .header-top, .header-bottom, .header-center {
        display: none;
    }

    /* ------ */

    .article {
        width: 100%;
    }

    .film-top1-container {
        width: 95%;
    }

    .film-top1-name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .film-top1-name .watch-btn {
        margin-left: 30px;
    }

    .film-top-header {
        width: 95%;
    }

    .film-top-img {
        width: 50px;
        flex: none;
    }

    .footer {
        padding: 1px;
    }

    .footer-leftright {
        display: block;
    }

    .footer-logo {
        margin: 50px auto 130px auto;
        justify-content: center;
    }

    .img {
        margin-right: 0;
    }

    .title-box {
        margin-top: 10px;
        width: fit-content;
        text-align: center;
    }

    .title1 {
        width: 300px;
    }

    .title2 {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .cooparation {
        margin: 25px auto 10px auto;
        text-align: center;
    }

    .film-top1-container {
        display: none;
    }

    .mobile-respon {
        display: flex;
    }

    /* category */
    .page {
        width: 100%;
    }

    .empty-text {
        font-size: 17px !important;
    }
}

/* Menu mobile */

@media only screen and (max-height: 25.875em) {
    .nav-menu_mobile {
        height: 82vh;
    }

}

@media only screen and (max-width: 25.875em) {
    .film-img-pr {
        flex-direction: column;
    }

    .title-pr, .title-dec {
        font-size: 25px;
    }

    .title-dec {
        margin-top: 25px;
    }

    .film-detail-bookmark {
        font-size: 50px;
    }

    .thumbnail {
        padding: 10px 0;
        margin-left: 0;
    }

    .name-film-dec {
        font-size: 19px;
    }

    .dec button {
        margin-bottom: 20px;
    }

    .film-category-container {
        --amountOfCol: 2;
    }

    /* for user page */
    .section-userpage {
        flex-direction: column;
    }

    .bookmark-container, .info-container {
        width: 100%;
    }

    .next, .previous {
        top: 73%;
    }

    /* page login and register */
    .form {
        width: 97%;
    }

    .login-res.form {
        height: 400px;
    }

    .register-res.form {
        height: 475px;
    }

    .login, .register {
        font-size: 17px !important;
    }

    .login {
        left: 10px;
    }

    .register {
        right: 10px;
    }

    .form-title span {
        position: relative;
    }

    .form-title::before {
        transform: translateX(calc(-50% + 6px));
    }

    .register::after {
        width: 72px;
        bottom: -2px;
        right: 0;
    }

    .login::after {
        width: 98px;
        bottom: -2px;
        left: 0;
    }

    #btnLogin {
        bottom: 54px;
        width: 138px;
        height: 48px;
        font-size: 20px;
    }

    .register-btn {
        width: 138px;
        height: 48px;
        font-size: 20px;
        left: 42px;
        bottom: 53px;
    }

    .forgot-password {
        right: 45px;
        bottom: 147px;
        font-size: 15px;
    }

    .have-account {
        right: 42px;
        bottom: 127px;
        font-size: 15px;
    }

    .input input, .gr-input input {
        height: 45px;
        font-size: 16px;
    }

    .input {
        top: 90px;
    }


    .choice_episode_field {
        flex-direction: column;
        margin: 15px 0 15px 25px;
    }

    #episode-container {
        align-self: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        margin-top: 10px;
        width: fit-content;
    }

    .a-episode {
        width: 50px;
    }
}

/* Table width>=740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .film-category-container {
        --amountOfCol: 3;
    }

    .film-top1-container {
        display: none;
    }

    .mobile-respon {
        display: flex;
    }

    .header-mobile {
        display: none;
    }
}

/* Pc width >= 1024px */
@media only screen and (min-width: 64em) {
    .header-mobile {
        display: none;
    }
}

@media only screen and (max-width: 64em) {
    .subcribe {
        display: none;
    }

    .footer-leftright {
        justify-content: space-around;
    }

    .week-present {
        left: 15px;
    }

    .week-future {
        right: 15px;
    }

    .choice_episode-title {
        font-size: 17px;
    }
}

/* Responsive for userpage */
@media only screen and (max-width: 63.9375em) {
    .info-user>span {
        margin-bottom: 10px;
    }

    .info-user>input {
        width: 100%;
        margin-bottom: 10px;
    }

    .mainavt-container {
        display: none;
    }

    .info-container, .bookmark-container {
        padding-top: 20px;
    }

}

/* userpage for tablet */
@media only screen and (max-width: 63.9375em) and (min-width: 25.876em) {
    .next, .previous {
        top: 35%;
    }

    .info-user {
        padding: 35px 10px 34px 10px;
    }
}

/* subcribe container */

@media only screen and (max-width: 43em) {
    .showtime {
        display: none;
    }

    .aside#aside {
        margin-top: 0;
    }
}